.Outlet-DefaultProduct{
    max-width: 1308px;
    margin: 0 auto;
}

.contenter{
    min-height: 1000px;
    display: flex;
}

.NavigateManegerProduct{
    flex: 1;
    padding: 8px;
    padding-left: 0px;
}

.contenter-outlet{
    flex: 6;
    margin-left: 24px;
}


.FooterLayoutProduct > .top {
    display: flex;
    padding: 24px 0px;
    max-width: 1308px;
    margin: 0 auto;
}

.FooterLayoutProduct > .top  > .content{
    flex: 1;
    text-align: center;
    font-size: 12px;
}

.FooterLayoutProduct > .top  > .content > img{
    width: 130px;
}

.FooterLayoutProduct > .top  > .content > p{
    color: black;
    font-weight: 600;
    margin: 8px 0;
}

.FooterLayoutProduct > .top  > .content > span{
    color: #6f787e;
    font-weight: 400;
}

.FooterLayoutProduct > .center{
    display: flex;
    padding: 36px 0;
    background-color: #f2f3f4;
    justify-content: center;
}

.FooterLayoutProduct > .center >.content{
    width: calc(1308px / 4);
    cursor: pointer;
}

.FooterLayoutProduct > .center >.content > ul{
    list-style: none;
}

.FooterLayoutProduct > .center >.content > p{
    color: #0f1e29;
    font-size: 12px;
    font-weight: 600;
    padding: 8px 0;
}

.FooterLayoutProduct > .bottom{
    background: #27343e;
    color: #fff;
}

.FooterLayoutProduct > .bottom > .contener{
    max-width: 1308px;
    margin: 0 auto;
}

.FooterLayoutProduct > .bottom > .contener{
    display: flex;
    padding: 8px 0;
}


.FooterLayoutProduct > .bottom > .contener > .left{
    max-width: 545px;
    font-size: 12px;
}

.FooterLayoutProduct > .bottom > .contener > .left > p{
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 8px 0;
}

.FooterLayoutProduct > .bottom > .contener > .left > ul{
    list-style: none;
}

.FooterLayoutProduct > .bottom > .contener > .left > ul > li{
    margin: 16px 0;
}

.FooterLayoutProduct > .bottom > .contener > .right{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    max-width: 650px;
    width: 100%;
}

.FooterLayoutProduct > .bottom > .contener > .right > form > label{
    font-size: 12px;
    font-weight: 600;
}

.FooterLayoutProduct > .bottom > .contener > .right > form > div{
    padding: 12px 0;
}

.FooterLayoutProduct > .bottom > .contener > .right > form > div > input{
    max-width: 317px;
    width: 80%;
    padding: 8px;
    border-radius: 4px;
    border: none;
}

.FooterLayoutProduct > .bottom > .contener > .right > form > div > button{
    background-color: #ee2624;
    border: 1px solid #ee2624;
    color: #fff;
    padding: 6px 16px;
    border-radius: 4px;
    margin-left: 8px;
}


.bo-cong-thuong{
    max-width: 109px;
    width: 100%;
}

.FooterLayoutProduct > .end{
    max-width: 1308px;
    margin: 0 auto;
    padding: 16px 0;
    width: 100%;
}

.FooterLayoutProduct > .end > p{
    font-size: 12px;
    font-weight: 600;
    padding:8px 0 ;
}

.hotSeo{
    padding: 16px;
    padding-left: 0;
    font-size: 12px;
    color:  #0f62fe;
}







