.Products > .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    margin-top: 12px;
}

.Products > .grid-container > .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.Products >  .top{
    color: #0f1e29;
    font-size: 14px;
    font-weight: 500;
}


.Products > .top >  label{
    margin-right: 12px;
}

#FilterProduct{
    width: 170px;
    padding:8px 8px 8px;
    border: 1px solid #cfd2d4;
    border-radius:4px ;
}

